<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Continuous Gesture Recognition Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>

    <header>
        <h1 class="text-center">Continuous Hand Gesture <br> Recognition Demo</h1>
    </header>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="height: 20px;"></div>
                    <h5 class="text-left">1. Select a model for inference</h5>
                    <div style="height: 15px;"></div>
                    <div class="list-group">
                        <a href="{{ url_for('index', selected_model_name='Demo_Model_1_20BNJester') }}" class="list-group-item list-group-item-action {% if selected_model_name == 'Demo_Model_1_20BNJester' %}active{% endif %}">Demo_Model_1_20BNJester</a>
                        <a href="{{ url_for('index', selected_model_name='Model_2') }}" class="list-group-item list-group-item-action {% if selected_model_name == 'Model_2' %}active{% endif %}">Model 2</a>
                        <a href="{{ url_for('index', selected_model_name='Model_3') }}" class="list-group-item list-group-item-action {% if selected_model_name == 'Model_3' %}active{% endif %}">Model 3</a> 
                      </div>

                      <div style="height: 15px;"></div>
                      <h6> {{ selected_model_name }} selected</h6>
                </div>
                
                <div class="col-8 text-center">
                    <p><strong>Live Webcam Stream</strong></p>
                    
                    {% if gesture_recognition_state == 'off' %}
                        <img src="{{ url_for('video_feed') }}">
                    {% else %}

                        {% if selected_model_name == 'Demo_Model_1_20BNJester' %}
                            <img src="{{ url_for('Demo_Model_1_20BNJester_video_feed') }}">

                        {% else %}
                            <img src="{{ url_for('video_feed') }}">
                        {% endif %}

                    {% endif %}
                    

                    <div style="height: 10px;"></div>
                    
                    <div>
                        <h3>Gesture Detection and Recognition is:</h3>
                        {% if gesture_recognition_state == 'on' %}
                            <h3 style="color: green">ON</h3>
                        {% else %}
                            <h3 style="color: red">OFF</h3>
                        {% endif %}
                        
                    </div>
                    
                    <div style="height: 10px;"></div>

                    <div class='col-xs-3 text-md-center'>
                        <a href="{{ url_for('index', selected_model_name=selected_model_name) }}?gesture_recognition_state=on"><button type="button" class="btn btn-success btn-block" name="recognition_toggle" value="Begin Gesture Detection">Begin Gesture Detection</button></a>
                        <a href="{{ url_for('index', selected_model_name=selected_model_name) }}?gesture_recognition_state=off"><button type="button" class="btn btn-danger btn-block" name="recognition_toggle" value="End Gesture Detection">End Gesture Detection</button></a>
                    </div>
                    
                </div>
                
                <div class="col">
                    <p><strong>Right Side</strong></p>
                    <p><strong>Right Side</strong></p>
                    <p><strong>Right Side</strong></p>
                </div>
            </div>
        </div>
    </body>
</html> 
